<div class="panel panel-default" style="padding: 20px; background-color: whitesmoke">
  <div class="panel-heading">
    <h3>New Semester</h3>
  </div>

  <%= render 'form', semester: @semester %>

  <%= link_to 'Back', semesters_path %>
</div>
