<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    Select Semester : <%= select_tag :semester_id, options_for_select(Semester.all.map{|s| [s.semester_name, s.id]}) %>
  </div>

  <div id="semester_table" style="padding-top: 20px;padding-bottom: 20px">
  </div>

  <div>
    <%= link_to 'Assign Course', new_course_semester_path %>
  </div>
</div>

<script>
    $(document).ready(function () {
        semester = $("#semester_id").val();

        $.ajax({
            url: "<%= populate_courses_path()%>"+ '?semester_id='+semester
        });
    });
    $('#semester_id').change(function () {
        semester = $("#semester_id").val();

        $.ajax({
            url: "<%= populate_courses_path()%>"+ '?semester_id='+semester
        });
    });
</script>
