<div style="padding-top: 10px">
  <fieldset>
    <legend>Assign Courses to Semester</legend>

    <%= render 'form', course_semester: @course_semester %>

    <%= link_to 'Back', course_semesters_path %>
  </fieldset>
</div>
