<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <%= render 'form', course_semester: @course_semester %>
    <%= link_to 'Back', course_semesters_path %>
  </div>
</div>

<script>
    $('#course_semester_semester_id').change(function () {
        semester_id = $("#course_semester_semester_id").val();
        $.ajax({
            url: "<%= show_course_path %>"+ '?semester_id='+semester_id
        });
    });
</script>
