<p id="notice"><%= notice %></p>

<p>
  <strong>Current semester:</strong>
  <%= @global_setting.semester_id %>
</p>

<%= link_to 'Edit', edit_global_setting_path(@global_setting) %> |
<%= link_to 'Back', global_settings_path %>
