<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h4>Send Result</h4>
  </div>

  <div style="padding: 20px">
    <b>Student ID: </b><%= select_tag :enrollment_id, options_for_select(@enrollments.all.map{|e| ["[ #{e.user.user_id} ]  #{e.user.user_name}", e.id]}.uniq), prompt: 'Select student' %>
    <button id="create_result">Create Result</button>
  </div>

  <div>
    <div id="student_table"></div>
    <div style="padding-bottom: 20px;padding-right: 20px">
      <button id="send_result" style="float: right">Send Result</button>
    </div>
  </div>
</div>

  <script>
      $(document).ready(function () {
          $('#send_result').hide();
      });

      $('#student_id').change(function () {
          $('#student_table').hide();
          $('#send_result').hide();
      });

      $('#create_result').click(function () {
          $('#student_table').show();
          enrollment_id = $('#enrollment_id').val();
          $.ajax({
              url: "<%= populate_results_path() %>"+ '?enrollment_id='+enrollment_id
          });
          $('#send_result').show();
      });

      $('#send_result').click(function () {
          enrollment_id = $('#enrollment_id').val();

          alert('Your request is processing.....');

          $.ajax({
              url: "<%= send_email_path() %>"+ '?enrollment_id='+enrollment_id,

              success: function(data){
                  if(data['sucess'] == 1) {
                      alert(data['msg']);
                  }
                  else {
                      alert(data['msg']);
                  }
                  window.location.reload();
              }
          });
      });
  </script>