<h1>Editing Assign Course To Semester</h1>

<%= render 'form', assign_course_to_semester: @assign_course_to_semester %>

<%= link_to 'Show', @assign_course_to_semester %> |
<%= link_to 'Back', assign_course_to_semesters_path %>
