<p>
  <strong>Semester:</strong>
  <%= @assign_course_to_semester.semester_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assign_course_to_semester.course_id %>
</p>

<%= link_to 'Edit', edit_assign_course_to_semester_path(@assign_course_to_semester) %> |
<%= link_to 'Back', assign_course_to_semesters_path %>
