<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h3>Registered Semesters</h3>
  </div>

  <table>
    <thead>
      <tr>
        <th>Semester</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.semester.semester_name %></td>
          <td><%= enrollment.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Register to new Semester', new_enrollment_path %>
  </div>
</div>