<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h4>Editing Course</h4>
  </div>

  <%= render 'form', course: @course %>

  <%= link_to 'Show', @course %> |
  <%= link_to 'Back', courses_path %>
</div>
