<div class="panel panel-default" style="padding: 20px">
  <div class="panel-heading">
    <h3>New Course</h3>
  </div>

  <%= render 'form', course: @course %>

  <%= link_to 'Back', courses_path %>
</div>
